#content {
  width: 100%;
  height: 100%;
}

.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0,0,0,0.2);
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
}

.info-box-text {
  text-transform: uppercase;
}

.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.info-box small {
  font-size: 14px;
}

.bg-aqua {
  /* background-color: #00c0ef !important; */
  background-color: rgba(0, 192, 239, 0.8) !important;
}

.bg-green {
  /* background-color: #00a65a !important; */
  background-color: rgba(0, 166, 90, 0.8) !important;
}

.bg-red {
  /* background-color: #dd4b39 !important; */
  background-color: rgba(221, 75, 57, 0.8) !important;
}

.bg-yellow {
  /* background-color: #f39c12 !important; */
  background-color: rgba(243, 156, 18, 0.8) !important;
}

.bg-light-blue {
  /* background-color: #3c8dbc !important; */
  background-color: rgba(60, 141, 188, 0.8) !important;
}

.bg-grey {
  /* background-color: #d2d6de !important; */
  background-color: rgba(210, 214, 222, 0.8) !important;
}

.bg-red, .bg-grey, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange {
  color: #fff !important;
}

.color-box {
  display: inline-block;
  padding: 1px 5px;
  height: 20px;
  width: 20px;
  white-space: nowrap;
  color: #636b6f;
  background-image: none;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pull-right {
  float: right !important;
}