<template>
    <div class="views tabs toolbar-through">
        <!-- Views -->
        <!-- Your main view -->
        <div class="view view-main active tab" id="example">

            <!-- Pages -->
            <div class="pages">

                <!-- Page examples list -->
                <div class="page navbar-through" data-page="example-list">

                    <!-- Navbar -->
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="left sliding">
                                <a href="#example-add" class="icon-only link">
                                    <i class="f7-icons">add</i>
                                </a>
                            </div>
                            <div class="center">Examples</div>
                        </div>
                    </div>

                    <!-- Search Bar -->
                    <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
                        <div class="searchbar-input">
                            <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
                        </div>
                        <a href="#" class="searchbar-cancel">Cancel</a>
                    </form>

                    <!-- Search Bar overlay -->
                    <div class="searchbar-overlay"></div>

                    <!-- Page content -->
                    <div class="page-content infinite-scroll" data-distance="25">
                        <div class="content-block-title">
                            Examples
                        </div>
                        <div class="list-block media-list">
                            <ul>
                                <li>
                                    <div class="swipeout-content item-content">
                                        <div class="item-media">
                                            <div class="color-box"></div>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">Title</div>
                                                <div class="item-after">After</div>
                                            </div>
                                            <div class="item-subtitle">Sub</div>
                                        </div>
                                    </div>
                                    <div class="swipeout-actions-right">
                                        <a href="#example-update" class="swipeout-close bg-blue">Edit</a>
                                        <a href="#" class="swipeout-close bg-red">Delete</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Tabbar -->
        <div class="toolbar tabbar">
            <div class="toolbar-inner">
                <a href="#example" class="tab-link">
                    <i class="f7-icons">graph_square_fill</i>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MainView',

        data() {
            return {
                examples: {}
            }
        },

        mounted() {
            f7 = new Framework7({
                pushState: true
            });

            f7.addView('.view-main', {
                main: true,
                domCache: true
            });

            this.$root.$emit('framework7-loaded');
        }
    }
</script>